body{
  background-color: rgb(7, 49, 104);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
  text-align: center;

}
.inputContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

}
h1{
  color: rgb(114, 207, 27);
}
.inputContainer>input{
  width: 300px;
  height: 30px;
  font-size: 1.25rem;
  border-radius: 5px;
  background-color: azure;
  border-color: red;
}
.inputContainer>button{
  border-radius: 20px;
  margin-top: 10px;
  font-size: 1.5rem;
  background-color: red;
  border-color: blanchedalmond;
}
.container{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.todo{
  background-color: white;
  width: 500px;
  font-size: 1.2rem;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}
.todo>p{
  margin-left: 10px;
  padding: 0px 5px;
}
.actions{
  /* margin: 15px 10px 0px 0px; */
  /* flex-direction: row; */
  margin-right: 10px;
  
}
.actions>button{
  margin-left: 10px;
  background-color: red;
  border-color: black;
  font-size: 1.05rem;
  border-radius: 5px;
  color: white;

}



